page-bienvenido-php {

}

ion-card{

}

ion-card-header{

background: #83a4d4;
background: -webkit-linear-gradient(to left, #83a4d4 , #b6fbff); 
background: linear-gradient(to left, #83a4d4 , #b6fbff); 
}

ion-card-content{

background: #83a4d4;
background: -webkit-linear-gradient(to left, #83a4d4 , #b6fbff); 
background: linear-gradient(to left, #83a4d4 , #b6fbff); 
font-family: Arial, Helvetica, sans-serif;
text-align: justify;

}