page-tutorial {

}

.slide-image {
    max-height: 50%;
    max-width: 50%;
    margin: 10px 0;
  }
.centrado{
    text-align: center;
}

ion-slide{
     background-image: url('../assets/img/background.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.slide1{
    
   // background-image: url('../assets/img/bg8.jpg');
}