page-curso-uno-parte-dos {

}


.amarillo{
  color: #FFFB93;
}

.fondito{
  background-color: #1A1A1F;
  color: white;

}
.margen{
  margin-left: 20px;
}
.azul{
color: #93B0FF;
}

.naranja{
  color: #FFBD66;
}



ion-card-content{
  background-color: #1A1A1F;
  color: white;
}

ion-card-header{
  background-color: #1A1A1F;
}

.blanco{
  color:white;
}