
.amarillo{
  color: #FFFB93;
}

.fondito{
  background-color: #1A1A1F;
  color: white;

}
.margen{
  margin-left: 20px;
}
.azul{
color: #93B0FF;
}

.naranja{
  color: #FFBD66;
}

.rojo{
  color: #FF2D2D;
}

.gris{
  color: #ADADAD ;
}

ion-card-content{
  background-color: #1A1A1F;
  color: white;
}

ion-card-header{
  background-color: #1A1A1F;
}

.blanco{
  color:white;
}

p{
  text-align: justify;
  font-size: 1.2em;
}

.llave1:before{
content: " { ";
color: white;
}

.llave2:before{
  content: " } ";
  color: white;
}

.margensito{
  margin-left: 30px;
}

.magenta{
  color: #F41E7B;
}